@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&display=swap');

.card {
    margin: 30px auto 0;
    width: 400px;
    height: 550px;
    perspective: 1000px;
}

.card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card__inner.is-flipped {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card__face--front {
    background-image: linear-gradient(to bottom right,#f7f2eb,#7096d1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__face--front h2 {
    color: #FFF;
    font-size: 32px;
}

.card__face--back {
    background-color: #bad6eb;
    transform: rotateY(180deg);
}

.card__body {
    align-items: center;
}

#nextCard {
    cursor: pointer;
    background-image: linear-gradient(to bottom left,#f7f2eb 10%,#081F5C);
    color: #f7f2eb;
    border: 0;
    margin: 180px auto;
    display: block;
    padding: 12px 20px;
    font-size: 16px;
}

.card__content {
    width: 100%;
    height: 100%;
}

.card__header {
    position: relative;
    padding: 30px 30px 40px;
}

.card__header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom left,#f7f2eb 10%,#7096d1 115%);
    z-index: -1;
    border-radius: 0 0 50% 0;
}

.card__header h2 {
    color: #FFF;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.card__body {
    padding: 30px;
}

.card__body h3 {
    color: #081F5C;
    font-size: 40px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
}

.card__body p {
    color: #081F5C;
    font-size: 18px;
    line-height: 1.4;
}

